<div class="container-fluid" id="main-container" >
    <div class="row h-100" >
        <div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="chat-list-area" style="position:relative;">
            
            <!-- Chat List -->
            <div class="d-flex flex-column w-100" id="profile-settings">
                <div class="row d-flex flex-row align-items-center p-2 m-0"
                    style="background-color:rgb(100, 164, 255); min-height:65px;">
                    <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white" style="font-size: 1.5rem; cursor: pointer;" onclick=""></i>
                    <div class="text-black font-weight-bold">
                        <%= username %>
                    </div>
                </div>
                <div class="d-flex flex-column" style="overflow:auto;">

                </div>

            </div>
            <div class="tn-group btn-group-toggle d-flex flex-column w-100" id="conversations" data-toggle="buttons" style="height: 500px; overflow:auto; ">
                <% active_conversation.forEach(function(conv) { %>
                    <button type="button" class="btn btn-light" id="<%= conv %>" style="background: rgb(209, 223, 242);" >
                        <%= conv %>
                    </button>
                    <% }) %>
            </div>
        </div>

        <!-- Message Area -->
        <div class="col">
        <div class="text-center bg-light">
            <h6 id="friend header" class="mb-6">Please select who you would like to chat with</h3>
        </div>
        <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-12 p-0 h-80" id="message-area" style="background-color:rgb(209, 223, 242);">
            <div id="messages" type="messages" class=" d-flex flex-column w-100 h-10 rounded shadow-sm " style="height: 500px; overflow:auto; width: 100%;">
                <p class="  text-left " style="padding-inline: 10%;" ></p>
                <!-- <% active_conversation.forEach(function(conv) { %>
                    <p class=" <% if(conv%2 === 0) { %> text-right<% } else { %>text-left <% } %>" style="padding-inline: 10%;" >
                        <%= conv %>
                    </p>
                    <% }) %> -->
            </div>
        </div>

                <!-- add new chat -->
