<%-include('./partials/_header');%>
  <body>
    <%-include('./partials/_nav');%>
    <div class="container mt-2">
      <header>
        <h2 data-test="welcome-title">Welcome</h2>
        <p data-test="welcome-here-page">Here is the <%= page %> page</p>
      </header>
      <section>
        <h2 data-test="section-title">Here is the body</h2>
        <p data-test="section-p">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam,
          repellendus!
        </p>
      </section>
      <%-include('./partials/_footer');%>
    </div>
  </body>
</html>