<%-include('./partials/_header');%>

  <body>
    <%-include('./partials/_nav');%>
      <div class="container mt-2">
        <header class="p-4">

        </header>
        <section>
          <%-include('./partials/_chat_box');%>
          <div class="w-100 d-flex flex-row col-12 col-sm-7 col-md-12 p-0">
            <input type="text" class="form-control" id="message" placeholder="write your message here">
            <script src="/socketIo/socketIo.js"></script>
            <script>
              var socket = io();
              var input = document.getElementById('input');

              form.addEventListener('submit', function (e) {
                e.preventDefault();
                if (input.value) {
                  socket.emit('chat message', input.value);
                  input.value = '';
                }
              });
              
            </script>
            <div class="w-10"></div>
            <button type="button" class="btn btn-primary">Send</button>
          </div>

          
          <form class="needs-validation w-100 mt-2" method="post" action="/chat/newDialogue">

            <div class=" w-50 py-5 m-auto col-md-7 col-lg-8">
            <div class="row g-3">
              <div class="col-12">
                <h4 class="text-center">Add new friend</h4>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="friendUsername" name="friendUsername" placeholder="friend's username"  required autofocus>
                <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>
            </div>
            <button class="w-100 btn btn-primary btn-lg my-3" type="submit">create connection</button>
          </form>


        </div>
      </div>
      </div>
      </div>
      </section>
      <%-include('./partials/_footer');%>
        </div>
  </body>

  </html>