<%-include('./partials/_header');%>

  <body>
    <%-include('./partials/_nav.ejs');%>
      <div class=" w-50 py-5 m-auto col-md-7 col-lg-8">
        <h4 data-test="login-title" class="mb-3">Login</h4>
        </header>
        <% if(message.error){ %>
          <div data-test="login-faile-message" class="alert alert-danger" role="alert">
              <%= message.error %>
          </div>
          <% } %>
        <form class="needs-validation" method="post" action="/users/login">
          <div class="row g-3">
            <div class="col-12">
              <label data-test="form-username-label" for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <input data-test="form-username-input" type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="username" required autofocus>
                <div data-test="form-username-error-message" class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>
            <div class="col-12">
              <label data-test="form-password-label" for="password" class="form-label">Password</label>
              <div class="input-group has-validation">
                <input data-test="form-password-input" type="password" class="form-control" id="password" name="password" placeholder="Password" utocomplete="current-password" required>
                <div data-test="form-password-error-message" class="invalid-feedback">
                  Please enter a valid password.
                </div>
              </div>
            </div >
            <button data-test="form-login-button" class="w-100 btn btn-primary btn-lg my-3" type="submit">login</button>
            <a data-test="form-register-link" class="w-100" href="./register"><button data-test="form-register-button" class="w-100 btn btn-outline-secondary my-2" type="button" >Register</button></a>
        </form>
        <%-include('./partials/_footer');%>
      </div>
  </body>
  </html>